fastapi
uvicorn
python-multipart
mangum
nanoid
boto3
biopython
bcbio-gff
pandas
openpyxl
sqlmodel
psycopg2-binary
requests
typer
pandas
tqdm
pydna==4.0.6
openpyxl
aiohttp
appdirs
questionary
plotly
xmltodict
requests_ntlm
deprecation
requests_futures
airium
aiostream
aws-lambda-powertools